body{
    background-color:black;
}
div{

    
    width: 50%;
    height:50%;
    margin-left: 25% ;
    margin-top:5%;
    text-align: center;   
  
}
img{
    border: 5px solid white;
    width:100%;
    
}
h1{
    white-space: nowrap;
    width:100%;
    font-family: 'Libre Baskerville', serif;
    color:white;
}
p{
    width: 100%;
    white-space: nowrap;
    color:white;
}
